---
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.portfolio.seo.description }}">
  <meta rel="author" href="{{ site.data.portfolio.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.portfolio.seo.rel-publisher }}">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="assets/css/main.css" />
  <title>{{site.data.portfolio.title}}</title>
</head>
<body>
  {% include header.html %}
  {% include about-us.html %}
  {% include service.html %}
  {% include devices.html %}
  {% include service-detail.html %}
  {% include ourTeam.html %}
  {% include works.html %}
  {% include happy-clients.html %}
  {% include blog.html%}
  {% include footer.html%}
<script src="assets/js/jquery-3.4.1.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
