<section id="about">
  <div class="section-header">
    <span>About Us</span>
    <strong>What Do We Do</strong>
    <hr class="bar">
  </div>
  <div class="about-story">

    <p class="about-shot">{{site.data.portfolio.about-shot}}</p>
        <div class="image-holder">
          {% for item in site.data.portfolio.thumb-units %}
          <div class="thumb-unit" style="background-image: url(assets/img/aboutImages/{{item.backgroundImage}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-overlay"><span>{% include icons/{{item.icons}} %}</span><strong>{{item.name}}</strong></div>
          </div>
          {% endfor %}
        </div>
  </div>
  <div class="about-bottom-lockdown">
      {% for item in site.data.portfolio.bottom-shots %}
      <div class="shot-holder">
        <span class="shot-bold">{{item.shothead}}</span>
        <span class="shot-under">{{item.shotbottom}}</span>
      </div>
      {% endfor %}

  </div>
</section>
