<section class="section-blog">

  <div class="section-header">
    <span>Our Stories</span>
    <strong>Lastest Blog</strong>
    <hr class="bar">
  </div>

  <div class="blog-holder">
    {% for item in site.data.portfolio.blog-block %}

      <div class="blog-post">

        <div class="image-holder">
          <img src="assets/img/aboutImages/{{item.image}}" alt="Blog-Photo" class="blog-shot">

          <div class="date-holder">
            <strong>{{item.day}}</strong>
            <i>{{item.month}}</i>
          </div>
        </div>

            <div class="blog-content">

                  <span class="blog-title">{{item.title}}</span>
                  <span class="blog-overview">{{item.subtitle}}</span>

                     <hr>

                     <div class="bubble-holder">
                       <div class="bubble">
                         <span>{% include icons/icons-eye-25px.html %}</span>
                         <i>{{item.views}}</i>
                       </div>
                       <div class="bubble">
                         <span>{% include icons/icons-chatbubble-25px.html %}</span>
                         <i>{{item.comments}}</i>
                       </div>
                     </div>
            </div>


      </div>

      {% endfor %}



  </div>

</section>
