<section class="section-happyClients">

  <div class="section-header">
    <span>Happy Clients</span>
    <strong>What People Say</strong>
    <hr class="bar">
  </div>

  <div class="words-holder">
    {% for item in site.data.portfolio.happy-Clients %}
        <div class="word-unit">
                <figure class="client-face">
                  <img src="assets/img/aboutImages/{{item.image}}" alt="client-face">
                  <figcaption>
                    <strong>{{item.user}}</strong>
                    <i>{{item.title}}</i>
                    <hr>
                      <p>{{item.text}}</p>
                  </figcaption>
                </figure>
          </div>
          {% endfor %}
        </div>

</section>
