<section class="section-ourteam">

  <div class="section-header">
    <span>Who We Are</span>
    <strong>Meet Our Team</strong>
    <hr class="bar">
  </div>

  <div class="ourteam-story">
    <p class="team-shot">{{site.data.portfolio.team-shot}}</p>

        <div class="image-holder">

          {% for item in site.data.portfolio.team-members %}
            <div class="thumb-holder">
              <div class="thumb-unit" style="background-image: url(assets/img/aboutImages/{{item.image}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
                      <div class="card-overlay">
                        <span>{% include icons/icons-facebook.html %}</span>
                        <span>{% include icons/icons-twitter.html %}</span>
                        <span>{% include icons/icons-pinterest.html %}</span>
                        <span>{% include icons/icons-instagram.html %}</span>
                      </div>
              </div>
              <strong>{{item.user}}</strong>
              <span>{{item.title}}</span>
            </div>

            {% endfor %}

        </div>
  </div>


<div class="ourteam-footer">
  <div class="icons-lockdown">
    {% for item in site.data.portfolio.team-logos %}
    <div style="background: url(assets/img/aboutImages/{{item.logoname}}); background-repeat: no-repeat; width: 160px; height: 160px; background-position: center;"></div>
    {% endfor %}
  </div>
</div>

</section>
