<section id="service" class="section-service">
  <div class="section-header">
    <span>We Work With </span>
    <strong>Amazing Services</strong>
    <hr class="bar">
  </div>

  <div class="design-lockup">
    {% for item in site.data.portfolio.shotblocks %}
    {% if item.title == "hr" %}
    <hr>
    {% else %}
    <div class="design-holder">
      <span class="design-icon">{% include icons/{{item.icons}} %}</span>
          <div class="shot-holder">
              <strong class="design-header">{{item.title}}</strong>
              <p class="design-text">{{item.text}}</p>
          </div>
    </div>
    {%endif%}
    {% endfor %}
  </div>

</section>
