<section class="section-works" id="work">
  <div class="section-header">
    <span>What we Do</span>
    <strong>Some of Our Works</strong>
    <hr class="bar">
  </div>

  <p class="work-shot">{{site.data.portfolio.work-shot}}</p>

  <div class="work-belt">
      {% for item in site.data.portfolio.work-content %}
        <div class="work-holder" style="background: url(assets/img/aboutImages/{{item.image}}); background-size: cover; background-repeat: no-repeat; background-postion: center center;">
            <div class="card-overlay">
              <span>{% include icons/{{item.icons}} %}</span>
              <strong>{{item.shot}}</strong>
              <i>{{item.bottomShot}}</i>
            </div>
        </div>
      {% endfor %}
  </div>

  <div class="work-footer">

        <div class="work-mobile-nav">
          {% for item in site.data.portfolio.work-quotes %}
          <span></span>
          {% endfor %}
        </div>

      <div class="work-controls">
        <div class="work-control-next">{% include icons/icons-next.html %}</div>
        <div class="work-control-prev">{% include icons/icons-previous.html %}</div>
      </div>

      <div class="work-quote-belt">
                {% for item in site.data.portfolio.work-quotes %}
                    <div class="Wqoute-unit">
                      <figure class="client-face">
                        <img src="assets/img/aboutImages/{{item.image}}" alt="client-face">
                      </figure>
                      <div class="shot">
                        <p>{{item.text}}</p>
                        <hr>
                        <strong>{{item.user}}</strong>
                      </div>
                    </div>

                    {% endfor %}

            </div>

  </div>
</section>
