section
  background: white
  height: 1025px
  text-align: center
  @extend %flex
  +flex-direction(column)

  .section-header
    height: 225px
    background: $brand-white
    margin-top: 20px

    span
      margin: 10px 0px
      color: black
      display: block
      @extend %kaushan
      font-size: 35px
    strong
      display: block
      @extend %monserrat
      font-size: 50px
      font-weight: 700
      margin-bottom: 30px
      text-transform: uppercase
    hr
      border-top: 4px solid $brand-peach


  .about-story
    +flex-grow(2)
    background: $brand-white

    .about-shot
      color: $brand-gray
      max-width: 90%
      margin: 0% auto
      margin-top: 0%
      line-height: 1.3
      text-align: center

    .image-holder
      @extend %flex
      +justify-content(space-around)
      +perspective(300)
      margin: 20px 0%
      @media screen and(max-width: 500px)
        display: block

      .thumb-unit
        position: relative
        height: 250px
        //the padding is used to make the image show
        padding: 0px 25% 0px 0px
        margin: 0px 0px
        @media screen and(max-width: 500px)
          max-width: 300px
          margin: 20px auto

        &:before
          content: ''
          opacity: 0


        .card-overlay
          @extend %flex
          +position(absolute, 0px 20px 20px 0px)
          +align-items(center)
          +justify-content(center)
          +flex-direction(column)
          margin: -10px 0px 0px -10px
          color: $brand-white
          text-align: center
          text-transform: uppercase
          @extend %accent-gradient

          opacity: 0
          transform: rotateY(180deg)

          span
            +align-self(center)
            display: block
            +pathColour($brand-white)
            svg
              +size(50px)

          strong
            +align-self(center)
            display: block
            color: white
            font-weight: 700
            font-size: 14px
            line-height: 1
            text-transform: uppercase

        &:hover
          .card-overlay
            animation: rotateY180 500ms forwards

          &:before
            @extend %blue-gradient
            +position(absolute, 0px 10px 10px 0px)
            width: 100%
            height: 100%
            animation: rotateY180Translate 500ms forwards 100ms





  .about-bottom-lockdown
    // height: 270px
    +flex-grow(1)
    background: $brand-blue
    @extend %flex
    +flex-direction(row)
    +justify-content(space-between)
    +flex-wrap(nowrap)
    color: $brand-white
    padding: 50px 0px

    // @media screen and (max-width: 500px)
    //   +flex-direction(column)
    //   +align-items(center)
    //   +justify-content(center)

    .shot-holder
      @extend %monserrat
      text-align: center
      margin: auto 0px
      text-transform: uppercase

      .shot-bold
        display: block
        font-size: 80px
        font-weight: 700
        max-width: 200px
        @media screen and (max-width: 800px)
          font-size: 50px
        @media screen and (max-width: 500px)
          font-size: 40px

      .shot-under
        display: block
        font-size: 20px
        @media screen and (max-width: 800px)
          font-size: 14px
        @media screen and (max-width: 500px)
          font-size: 10px

      &:nth-child(1)
        margin-left: 10%
      &:last-child
        margin-right: 10%
//reevaluate spacing decisions
